@font-face {
    font-family: "establish";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/establish/establish.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/establish/establish.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/establish/establish.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/establish/establish.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/establish/establish.ttf") format("truetype");
    font-display: swap;
}
.establish {
    font-family: "establish";
}